* {
    box-sizing: border-box;
    text-transform: capitalize;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

:root {
    --btnbackground-color: rgb(33, 127, 151);
    --main-color: black;
    --mainbackground-color: #f6f8fb;
    --border-color: gray;
    --color-text: white;
}

.flex-row {
    display: flex;
    flex-direction: row;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-image: url(smile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    padding-top: 70px;
}

.nav {
    position: fixed;
    gap: 20px;
    width: 100%;
    align-items: center;
    box-shadow: 0 1px 3px var(--border-color);
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1000;

}

.logo {
    background-color: transparent;
    align-items: center;
    padding: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 20px;
}

.logo span i {
    color: var(--color-text);
    background-color: var(--btnbackground-color);
    padding: 5px;
    border-radius: 50%;
}

.logo-name {
    text-transform: capitalize;
    font-size: 20px;
}

.pages {
    background-color: transparent;
    display: flex;
    flex: 1;
    gap: 10px;
    padding: 15px;
    align-items: center;
}

.page {
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
    font-weight: bold;
}

.pages ul {
    list-style: none;
}

.page li {
    cursor: pointer;
}

.pages ul li a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.pages ul li a:hover {
    color: var(--btnbackground-color);
    font-size: 20px;

}

.btn {
    background-color: var(--btnbackground-color);
    padding: 10px;
    border-radius: 20px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text);
    transition: 0.3s;
}

.btn:hover {
    font-size: 20px;
}

.main {
    padding: 50px 10px;
    line-height: 1.5;
    gap: 5px;
}

.text {
    font-size: 20px;
}

.btns {
    padding-top: 15px;
    gap: 15px;
}

.btns a:first-of-type {
    background-color: var(--btnbackground-color);
    color: var(--color-text);
    border-radius: 10px;
    border: 5px solid var(--btnbackground-color);
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

.btns a:last-of-type {
    padding: 10px;
    border: 3px solid var(--btnbackground-color);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--btnbackground-color);
    font-size: 16px;
}

.btns a:first-of-type:hover,
.btns a:last-of-type:hover {
    transition: .5s ease-in-out all;
    font-size: 20px;
}

h2 {
    gap: 15px;
    padding-top: 10px;
}

h2::after,
h2::before {
    content: "";
    height: 2px;
    background-color: var(--border-color);
    display: flex;
    align-items: center;
    flex: 0.2;
}

.tools {
    justify-content: space-around;
    box-shadow: 0 2px 2px var(--border-color);
}

.tool-box {
    border: 5px solid var(--color-text);
    border-radius: 10px;
    background-color: #d5dde0;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.tool-box img {
    max-width: 100px;
    max-width: 100px;
}

.our-services {
    box-shadow: 0 2px 2px var(--border-color);
    gap: 10px;
}

.services {
    justify-content: space-around;
}

.img-container {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.services-box {
    border: 5px solid var(--color-text);
    border-radius: 10px;
    background-color: #d5dde0;
    align-items: center;
    padding: 10px;
    gap: 5px;

}

.boxes {
    display: flex;
    box-shadow: 0 2px 2px var(--border-color);
    justify-content: space-around;
}

.contact-box {
    background-color: #d5dde0;
    border: 5px solid var(--color-text);
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.content-text {
    gap: 5px;
}

.contact-box i {
    background-color: var(--btnbackground-color);
    border-radius: 50%;
    color: var(--color-text);
    padding: 5px;
}

@media(Max-width:970) {

    .tools,
    .services,
    .boxes {
        flex-wrap: wrap;
    }

    .tool-box,
    .services-box,
    .contact-box {
        flex-basis: calc(30% - 20px);
    }
}

@media (max-width:767px) {

    .tools,
    .services,
    .boxes {
        flex-wrap: wrap;
    }

    .tool-box,
    .services-box,
    .contact-box {
        flex-basis: calc(50% - 20px);
    }


}

@media(max-width:576px) {

    .tools,
    .services,
    .boxes {
        flex-wrap: wrap;
    }

    .tool-box,
    .services-box,
    .contact-box {
        flex-basis: calc(100% - 20px);
    }
}